{% extends "base.html" %}
{% block content %}

<h1>Liens d'intérêt</h1>
<p>Cette page spéciale de liens a été ajoutée au <strong>TélécranUI</strong> pour vous aider
avec le développement.</p>
<div class="row links">
	<div class="span4">
		<h3>INF3990/projet</h3>
		<ul>
			<li><a href="https://moodle.polymtl.ca/course/view.php?id=909">INF3990 sur Moodle</a></li>
			<li><a href="http://www.polymtl.ca/etudes/cours/details.php?sigle=INF3990">détails et horaire de INF3990</a></li>
			<li><a href="https://moodle.polymtl.ca/mod/resource/view.php?id=126577">Demande de proposition (Moodle)</a></li>
			<li><a href="https://moodle.polymtl.ca/mod/resource/view.php?id=126578">Exigences techniques (Moodle)</a></li>
		</ul>
		
		<h3>JSON</h3>
		<ul>
			<li><a href="http://json.org/">JSON</a></li>
		</ul>
		
		<h3>JPEG</h3>
		<ul>
			<li><a href="http://en.wikipedia.org/wiki/Jpeg">JPEG (Wikipedia)</a></li>
			<li><a href="http://www.videotechnology.com/jpeg/j1.html">Description détaillée des marqueurs de segments principaux</a></li>
			<li><a href="http://halicery.com/jpeg/idct.html">Implémentation d'IDCT 1 dimension</a></li>
			<li><a href="http://www.impulseadventure.com/photo/jpeg-snoop.html">JPEGsnoop, utilitaire pour inspecter un fichier JPEG</a></li>
			<li><a href="http://www.impulseadventure.com/photo/jpeg-minimum-coded-unit.html">Notion de MCU</a></li>
			<li><a href="http://www.impulseadventure.com/photo/jpeg-huffman-coding.html">Décodage Huffman et +</a></li>
			<li><a href="http://www.impulseadventure.com/photo/jpeg-decoder.html">Designing a JPEG Decoder (intéressant pour comprendre le <em>chroma subsampling</em>)</a></li>
		</ul>
		
		<h3>WAVE</h3>
		<ul>
			<li><a href="https://ccrma.stanford.edu/courses/422/projects/WaveFormat/">WAVE PCM soundfile format</a></li>
			<li><a href="http://www.sonicspot.com/guide/wavefiles.html">Wave File Format</a></li>
			<li><a href="http://en.wikipedia.org/wiki/WAV">WAV - Wikipedia</a></li>
			<li><a href="http://www.wavsource.com/">WavSource.com</a></li>
			<li><a href="http://www.wavlist.com/">Wavlist.com</a></li>
		</ul>
		
		<h3>BMP</h3>
		<ul>
			<li><a href="http://en.wikipedia.org/wiki/BMP_file_format">BMP file format - Wikipedia</a></li>
			<li><a href="http://vaxa.wvnet.edu/vmswww/bmp.html">BMP image test suite</a></li>
		</ul>
	</div>
	<div class="span4">
		<h3>utilitaires</h3>
		<ul>
			<li><a href="http://pastebin.com/">Pastebin.com</a></li>
			<li><a href="http://en.wikipedia.org/wiki/ASCII">ASCII - Wikipedia</a></li>
			<li><a href="http://www.tonymarston.net/php-mysql/converter.php">Bin-Oct-Dec-Hex Converter</a></li>
			
		</ul>
		
		<h3><em>cores</em> libres</h3>
		<ul>
			<li><a href="http://opencores.org/">OpenCores</a></li>
		</ul>
		
		<h3>matériel de développement</h3>
		<ul>
			<li><a href="http://www.digilentinc.com/Data/Products/GENESYS/Genesys_rm.pdf">Genesys reference manual</a></li>
			<li><a href="http://www.digilentinc.com/Products/Detail.cfm?NavPath=2,400,819&Prod=GENESYS">Genesys (Digilent)</a></li>
			<li><a href="https://moodle.polymtl.ca/file.php/909/blocs/KVM-KV401A-403A.pdf">manuel du ServSwitch Micro (Moodle)</a></li>
			<li><a href="http://www.xilinx.com/support/documentation/data_sheets/ds100.pdf">Virtex-5 Family Overview</a></li>
			<li><a href="http://www.xilinx.com/support/documentation/user_guides/ug190.pdf">Virtex-5 FPGA User Guide</a></li>
			<li><a href="http://www.xilinx.com/support/documentation/user_guides/ug200.pdf">Embedded Processor Block in Virtex-5 FPGAs</a></li>
		</ul>
		
		<h3>IP <em>cores</em></h3>
		<ul>
			<li><a href="http://www.xilinx.com/support/documentation/ip_documentation/plb_ipif.pdf">PLB IPIF</a></li>
			<li><a href="http://www.xilinx.com/support/documentation/ip_documentation/fsl_v20.pdf">LogiCORE Fast Simplex Link (FSL) v20 Bus</a></li>
			<li><a href="http://www.xilinx.com/support/documentation/ip_documentation/fit_timer.pdf">LogiCORE IP Fixed Interval Timer (FIT)</a></li>
			<li><a href="http://www.xilinx.com/support/documentation/ip_documentation/xps_gpio.pdf">XPS General Purpose Input/Output (GPIO)</a></li>
			<li><a href="http://www.xilinx.com/support/documentation/ip_documentation/xps_intc.pdf">LogiCORE IP XPS Interrupt Controller</a></li>
			<li><a href="http://www.xilinx.com/support/documentation/ip_documentation/xps_tft.pdf">XPS Thin Film Transistor (TFT) Controller</a></li>
			<li><a href="https://moodle.polymtl.ca/mod/resource/view.php?id=120312">plb_ac97 (Moodle)</a></li>
			<li><a href="http://www.xilinx.com/support/documentation/ip_documentation/xps_ethernetlite.pdf">LogiCORE IP XPS Ethernet Lite Media Access Controller</a></li>
		</ul>
		
		<h3><em>cores</em> personnalisés</h3>
		<ul>
			<li><a href="https://moodle.polymtl.ca/mod/folder/view.php?id=123472">Notes d'application de Richard Griffin (Moodle)</a></li>
			<li><a href="http://www.xilinx.com/support/documentation/application_notes/xapp529.pdf">Connecting Customized IP to the MicroBlaze Soft Processor Using the Fast Simplex Link (FSL) Channel</a></li>
		</ul>
	</div>
	<div class="span4">
		<h3>EDK</h3>
		<ul>
			<li><a href="https://moodle.polymtl.ca/mod/resource/view.php?id=119817">Introduction à l'environnement de développement de systèmes embarqués EDK (ISE DS 13.2) (Moodle)</a></li>
			<li><a href="https://moodle.polymtl.ca/mod/resource/view.php?id=119814">Types de fichiers et fichiers importants dans EDK (Moodle)</a></li>
			<li><a href="http://www.xilinx.com/support/documentation/sw_manuals/xilinx13_2/est_rm.pdf">Embedded System Tools Reference Manual</a></li>
			<li><a href="http://www.xilinx.com/support/documentation/sw_manuals/xilinx13_2/edk_ctt.pdf">EDK Concepts, Tools and Techniques</a></li>
			<li><a href="http://www.xilinx.com/support/documentation/sw_manuals/xilinx13_2/psf_rm.pdf">Platform Specification Format Reference Manual</a></li>
			<li><a href="http://www.xilinx.com/support/documentation/sw_manuals/xilinx13_2/devref.pdf">Command Line Tools User Guide</a></li>
			<li><a href="http://www.xilinx.com/support/documentation/sw_manuals/xilinx13_2/platform_studio/platform_studio_start.htm">XPS Help</a></li>
			<li><a href="http://www.xilinx.com/support/documentation/sw_manuals/xilinx13_2/SDK_Doc/index.html">SDK Help</a></li>
			<li><a href="https://moodle.polymtl.ca/pluginfile.php/84822/block_html/content/faq.html">F.A.Q. sur EDK (Moodle)</a></li>
		</ul>
		
		<h3>MicroBlaze</h3>
		<ul>
			<li><a href="http://bears.ece.ucsb.edu/class/ece253/xilinx_documentation/mb_ref_guide.pdf">MicroBlaze Processor Reference Guide</a></li>
			<li><a href="http://en.wikipedia.org/wiki/Open_source_hardware">Using and Creating Interrupt-Based Systems</a></li>
		</ul>
		
		<h3>design à deux MicroBlaze</h3>
		<ul>
			<li><a href="http://www.xilinx.com/support/documentation/white_papers/wp262.pdf">Designing Multiprocessor Systems in Platform Studio</a></li>
			<li><a href="http://www.xilinx.com/support/documentation/application_notes/xapp996.pdf">Dual Processor Reference Design Suite</a></li>
			<li><a href="http://www.xilinx.com/support/documentation/sw_manuals/xilinx13_2/platform_studio/ps_c_dbg_debugging_sw_multiprocessor.htm">Debugging Software on a Multi-Processor System</a></li>
		</ul>
		
		<h3>langage C</h3>
		<ul>
			<li><a href="http://en.wikipedia.org/wiki/C_(programming_language)">C (programming language) - Wikipedia</a></li>
			<li><a href="http://publications.gbdirect.co.uk/c_book/">The C Book</a></li>
			<li><a href="http://en.wikipedia.org/wiki/Operators_in_C_and_C%2B%2B">Operators in C and C++ - Wikipedia</a></li>
		</ul>
		
		<h3>GCC</h3>
		<ul>
			<li><a href="http://gcc.gnu.org/onlinedocs/">GCC online documentation</a></li>
			<li><a href="http://www.delorie.com/gnu/docs/binutils/ld_6.html">Linker Scripts</a></li>
		</ul>
	</div>
</div>
{% endblock %}